body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    padding: 0;
}

main {
    padding: 2rem;
}

header {
    background-color: #f1efef;
    color: white;
    text-align: left;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #747474;
}

nav ul li a:hover {
    color: #000000;
}

h1 {
    margin-bottom: 1rem;
    color: black;
    font-size: large;
}

p {
    margin-bottom: 1.5rem;
}
