html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex; 
    flex-direction: column; 
    min-height: 100%;
    margin: 50px;
}

main {
    padding: 30px 2rem;
    flex-grow: 1; 
}

.main-content {
    flex: 1;
    max-width: 700px;
    padding-left: 15rem;
    font-size: large;
}

.container {
    max-width: 1300px; /* Adjust this value to your desired container width */
    margin: 0 auto;    /* Center the container horizontally */
    padding: 0 20px;   /* Add some padding to the sides of the container */
}
  

header {
    background-color: #fafafa;
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

h1 {
    margin-bottom: 0;
    color: black;
    font-size: xx-large;
}

h4 {
    margin-bottom: 0;
    font-weight: 100;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-size: large;
}

p {
    margin-bottom: 1.5rem;
}

.profile-picture {
    width: 150px;
    display: block;
    border-radius: 5%;
    margin-bottom: 20px;
}
 
.social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-bottom: 20px;
}
  
.social-icon {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.social-icon span {
    margin-left: 10px;
    font-size: 12px;
    color: rgb(0, 0, 0);
}
  
.social-icon img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
}
  
.social-icon:hover img {
    transform: scale(1.3);
}

.left-sidebar {
    position: fixed;
    left: 110px;
    top: 110px;
}

footer {
    background-color: #fafafa;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
    width: 100%;
}