body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    padding: 0;
}

main {
    padding: 2rem;
}

header {
    background-color: #f1efef;
    color: white;
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #747474;
    position: relative
}

nav ul li a:hover {
    color: #000000;
}

h1 {
    margin-bottom: 1rem;
    color: black;
    font-size: large;
}

p {
    margin-bottom: 1.5rem;
}

.profile-picture {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
  
.social-media {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}
  
.social-icon {
    margin: 0 5px;
}
  
.social-icon img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}
  
.social-icon:hover img {
    transform: scale(1.2);
}
  

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}